{% extends 'base.html' %}

{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container">

      <h1 class=" p-4 text-center">Forgot your password?</h1>
  <p class=" text-center">Please enter your email,we will send reset password email to you.</p>

  <form method="POST"  style='display: flex;justify-content:center'>
    {% csrf_token %}
    
    {{ form.as_p }}
    <input type="submit" value="Send me instructions!" class='mb-1 btn' style='background-color:#ff9900;height:30px;font-weight:700'>
  </form>
  </div>
{% endblock %}