{% extends "base.html" %}
{%load static%}
{% block content %}
<div class="container">

    {% include "partial/_leftbar.html" %}
    <div class="col-lg-8">
      <div class="formalert alert info-box d-none" ></div>
      {% if data_dict %}
      <script>
         function myAlert(status, msg,ms=2500) {
const formalert = document.querySelector('.formalert')
formalert.classList.remove("d-none")
formalert.classList.add(status ? 'alert-success' : 'alert-danger', 'show')
formalert.innerHTML = msg
document.querySelector('.backtop').click()
setTimeout(() => {
  formalert.classList.remove(status ? 'alert-success' : 'alert-danger', 'show')
  formalert.classList.add("d-none")
  formalert.innerHTML = ''
 if( status )location.href="{% url 'address' %}"
}, ms)
}
        myAlert({{data_dict.status}},"{{data_dict.msg}}")
      </script>
      {% endif %}
        <div class="row mb-3">
          <h3>新增{% if typenum == 1 %}送貨{% else %}帳單{% endif %}地址 </h3>
          <form method="post">
            {% csrf_token %}
            <div class="form-group">
            {% for field in  form %}
            
            {{field.label_tag}} <span style="color: red;">{{field.errors.0}}</span>
            
            {{field}}
            {% endfor %}
            
            <input type='submit' class="loginbtn btn btn-success btn-block mt-4 mb-4" value='Submit'>
            
        </div>
          </form>
        </div>

      </div>
  </div>

    
</div>
<script>
   document.querySelectorAll('input').forEach(item=>{
    item.required=false
  })
</script>
{% endblock content %}



{% for item in obj.orderitemscomment_set.all %}
                <td>{{item.comment}}</td>
                {% endfor %}