{% extends "base.html" %}
{%load static%}
{% block content %}
<style>
    #content>.container>img{
      display: block;
      margin: auto;
      padding: 20px 0 0 0;
    }
    #content>.container>p,#content>.container>ul>li{
        line-height: 40px;
    }
    #content>.container{
        border-radius:5px;
        border: 1px solid #000;
        background:linear-gradient(
        rgba(255,255,255,.2),
        rgba(255,255,255,.2)),
        url({% static 'img/wallpage-img/img9.jpeg' %});
        
     }
     .d-inlines{
        line-height: normal!important;
     }
    
  </style>
   <section id="content">
    <div class="container" >
<img src="{% static 'img/wallpage-img/text 2.gif' %}" alt="Trulli" width="300" height="auto">
<h2>Feedback about Yummy Snackmall</h2>

        <form method='POST'>
          {% csrf_token %}
            <!-- <div class="form-group">
              <label for="name">姓名 Name</label>
              <input
                type="text"
                class="form-control form-control-lg"
                id="name"
                placeholder="enter name" />
            </div>
            <div class="form-group">
              <label for="email">聯絡電郵 email</label>
              <input
                type="email"
                class="form-control form-control-lg"
                id="email"
                placeholder="enter email" />
              <small class="form-text text-muted">your email will not shared!</small>
            </div>
            <div class="form-group">
              <label for="password">password</label>
              <input
                type="password"
                class="form-control form-control-lg"
                id="password"
                placeholder="enter password" />
            </div>
            <div class="form-group">
              <label for="gender">gender</label>
              <select name="gender" id="gender" class="form-control">
                <option value="male">male</option>
                <option value="female">female</option>
              </select>
            </div>
    
            <div class="form-group">
              <label for="message">留言 Feedback</label>
              <textarea id="message" rows="3" class="form-control"></textarea>
            </div> -->
            {% for field in form %}
            {{field.label_tag}}
            {{field}}
            
            {% endfor %}
    
            <button class="btn btn-primary btn-block mt-4" type="submit">submit</button>
          </form>
    <img src="{% static 'img/wallpage-img/end.gif' %}" alt="Trulli" width="300" height="auto" class="mt-3 mb-3">



    <a style="
    display: flex;
    justify-content: center;
    " href="{% url 'index' %}">Home</a>
 

    </div>
   </section>
   <script>
    document.querySelector('#toptitle').innerHTML=`Feedback`
    </script>
{% endblock content %}