{% extends "base.html" %} {% load static %} {% block content %}

<section id="bigloop" data-aos="fade-up">
  <div
    id="carouselExampleIndicators"
    class="carousel slide container"
    data-ride="carousel"
    style="padding: 0">
    <ol class="carousel-indicators">
      {%for item in bannerlist %}
      <li
        data-target="#carouselExampleIndicators"
        data-slide-to="{{forloop.counter0}}"
        class="{%if forloop.counter0 == 0%} active {%endif%}"></li>
      {%endfor%}
    </ol>
    <div class="carousel-inner">
      {%for item in bannerlist %}
      <div class="carousel-item {%if forloop.counter0 == 0%} active {%endif%}">
        <img
          class="d-block w-100"
          data-src="holder.js/800x400?auto=yes&amp;bg=777&amp;fg=555&amp;text=First slide"
          alt="First slide [800x400]"
          src="{{item.image.url}}"
          data-holder-rendered="true"
          style="width: 1140px; height: 570px; object-fit: cover" />
      </div>
      {%endfor%}
    </div>
    <a
      class="carousel-control-prev"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a
      class="carousel-control-next"
      href="#carouselExampleIndicators"
      role="button"
      data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</section>

<section id="category" data-aos="fade-up">
  <form action="/products" method="post">
    <div
      class="container pt-3"
      style="
        height: 300px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        border: 1px solid #0000ff2b;
        border-radius: 10px;
        box-shadow: 0 0px 20px 4px rgba(0, 0, 0, 0.5);
      ">
      <h1 style="font-size: 20px">Shop By Category</h1>
      <div class="row pt-1 pb-3 catebold">
        <style>
          .motion-reduce {
            filter: invert(12%) sepia(20%) saturate(5358%) hue-rotate(155deg) brightness(100%)
              contrast(98%);
          }
        </style>
        {% for item in topcl%}
        <div class="col">
          <img
            src="/static/images/icon/{{item.name}}.svg"
            alt="{{item.name}}"
            class="motion-reduce"
            loading="lazy"
            width="62"
            height="62" />
          <a class="viewall d-block">
            {{item.name}}
            <input
              type="submit"
              name="filterdict"
              value="{'product_class__id':{{item.id}}}"
              hidden />
          </a>
        </div>
        {%endfor%}
      </div>
      <h1 style="font-size: 20px">Shop By Region</h1>
      <div class="row pt-1 pb-3 catebold">
        {%for item in topca%}
        <div class="col">
          <img
            src="/static/images/icon/{{item.name}}.avif"
            alt="{{item.name}}"
            loading="lazy"
            width="62"
            height="62" />
          <a class="viewall d-block">
            {{item.name}}
            <input type="submit" name="filterdict" value="{'category__id':{{item.id}}}" hidden />
          </a>
        </div>
        {%endfor%}
      </div>
    </div>
  </form>

  <script defer>
    document.querySelector('#category').addEventListener('click', e => {
      if (e.target.tagName == 'IMG') {
        e.target.nextElementSibling.click()
      }
    })
  </script>
</section>

{% include "littlemodule.html" %} {% endblock content %}
