{% extends "base.html" %}
{%load static%}
{% block content %}
<style>
    #content>.container>img{
      display: block;
      margin: auto;
      padding: 20px 0 0 0;
    }
    #content>.container{
        border-radius:5px;
        border: 1px solid #000;
        background:linear-gradient(
        rgba(255,255,255,.4),
        rgba(255,255,255,1)),
        url({% static 'img/wallpage-img/img4.jpeg' %});
        
     }
    
  </style>
   <section id="content">
    <div class="container" >
        <h4 class="pt-3" >Shipping & Delivery Policy</h4>
        <img src="/static/img/wallpage-img/4.gif" alt="">
        <details open>
            <summary style="color:red;">SECTION 1 </summary>
            <p class="d-inlines bg-success">GENERAL SHIPPING INFORMATION</p>
            <p>Just Asian Food delivers within the contiguous United States. It is our goal to ship all orders within 48 hours of receipt. Other factors may delay processing 2 to 3 additional days, such as weekends, holidays, and item availability.
            </p>
            <p>Should items no longer be in stock due to factors, including but not limited to being damaged in our warehouse, we will notify you via email, then process a refund prior to completing your order. Please allow 5 to 7 business days for the refund to appear on your account; this processing time is based on your financial institution.
            </p>
            <p>* Just Asian Food does not ship to PO boxes at this time.

                ** Just Asian Food does ship to APO/FPO addresses. All APO/FPO orders must be shipped via USPS Priority. We will not be able to track shipments after the package enters the Military Mail System, and are then unable to determine delivery time. Shipments to APO/FPO may take up to 60 days. Additional charges may apply.
                </p>
        </details>
        <p class="d-inlines bg-warning">SECTION 2 - SHIPPING RATES</p>
        <p>All orders within the contiguous United States, over $59.00 and under 30 pounds shipping weight will be shipped via FedEx Ground, UPS Ground, or USPS Priority free of charge (we reserve the right to select the shipping provider). The following exception applies: certain products and/or product types have quantity limits (as noted in the product description), these limits are a combined limit; once exceeded, additional shipping charges may apply. We will contact you with the additional cost when your ordered is being prepared.
        </p>
        <p>
        For orders within the contiguous United States, under $59.00 and under 30 pounds shipping weight will be shipped via FedEx Ground, UPS Ground, or USPS Priority for a flat rate of $15.00 (we reserve the right to select the shipping provider). The following exception applies: certain products and/or product types have quantity limits (as noted in the product description), these limits are a combined limit; once exceeded, additional shipping charges may apply. We will contact you with the additional cost when your ordered is being prepared.
        <span>*** A frequently asked question is: "I added my product weight, it is under or is exactly 30 pounds". The net product weight shown on product images and product detail pages excludes the product's own packaging and packing weight, which impacts the actual shipping weight. We work to be efficient with our packing to minimize any additional shipping charges.
        </span>   
    </p>
        
        <p>
        For overweight items, additional shipping costs will also apply.</p>
        <p>
        APO/FPO orders may incur additional shipping charges set by the carrier.</p>
        <p>
        Expedited options are available at additional shipping cost. The additional cost will be calculated at checkout and offered to you as options. (Updated May 10, 2023: Due to technical update we have temporarily suspended this shipping option. Please email us at support@justasianfood.com if expedited shipping is required.)
        </p>
        Additional charges may apply if packages are redirected, an incorrect address was provided, or is undeliverable. We are not responsible for shipping charges related to incorrect or missing information.
        <p>
        The minimum free shipping dollar amount excludes discounts, promotions, sales tax, and shipping.
        
        </p>
        <p class="d-inlines bg-success">SECTION 3</p>
        <p class="d-inlines bg-danger">TAXES</p>
        <p>
            Items sold through our Site may be subject to taxes and other governmental charges. If an item is subject to taxes, prior to submitting your purchase request, an estimated tax will be calculated and displayed at checkout.
            </p>
        <img src="/static/img/wallpage-img/snack5.jpeg" alt="auto" style="width: 100%;">
        <p class="d-inlines bg-success mt-3">SECTION 4 </p>
        <p class="d-inlines bg-danger">SHIPPING METHODS</p>
        <p> We ship from Linden, New Jersey. Depending on the day of the week your order is shipped and your distance from us, will together impact transit times. General shipment times range from 1 day (local) to 7+ days. There are no guarantee shipment times. Transit times may further be impacted by weather and other unforeseen events.</p>
        <p>We use Federal Express (“FedEx”), United Parcel Service ("UPS") and United States Parcel Service (“USPS”). FedEx, UPS, and USPS provide estimated delivery times. The estimated delivery times are not guaranteed. Neither we nor FedEx, UPS, or USPS are able to provide 100% guarantees on arrival.</p>
        <p>When your order is shipped, an order update will be emailed to you with a tracking number. You may track your order via the FedEx, UPS, or USPS websites. You may also use our Track Your Order page on our website.</p>
        <img src="/static/img/wallpage-img/snack5.jpeg" alt="">
        <p class="mt-3" style="background-color: #6a5552 ;color: white;">Free Shipping</p>
        <img src="/static/img/wallpage-img/ship.gif" alt="" style="width: 100%;">
        <p class="d-inlines bg-success mt-3">SECTION 5</p>
        <p class="d-inlines bg-danger">CHANGING SHIPPING ADDRESS</p>
        <p style="font-weight: 700;">you wish to change your shipping address after you have submitted your order, please email us immediately at support@justasianfood.com. If the order has not been processed, we will update the delivery address. Unfortunately, should the order be shipped already, you will not be able to change it. It is our goal to provide prompt delivery service, which includes fulfilling your quickly.</p>
        <img src="/static/img/wallpage-img/snack00.jpeg" alt="">
        <p class="d-inlines bg-success mt-3">SECTION 6 </p>
        <p class="d-inlines bg-danger">UNDELIVERABLE PACKAGES OR MISSING ITEMS </p>
        <p>
            Just Asian Food shall work with our partner shipping carriers to promptly deliver packages to you. In the event packages are delayed, damaged, re-routed, and/or incorrectly delivered, we shall work with the shipping carriers to rectify. This process may significantly delay the delivery of your package.
            </p>
            <p>
            We make every effort to help ensure there are no incorrect or missing items in your order. Should this occur, within 3 days of the receipt of shipment, please notify us at support@justasianfood.com. Any adjustments thereafter shall be at the sole discretion of Just Asian Food.
            </p>

<img src="{% static 'img/wallpage-img/end.gif' %}" alt="Trulli" width="300" height="auto" class="mb-3">
<a style="
display: flex;
justify-content: center;
" href="{% url 'index' %}">Home</a>


    </div>
   </section>
   <script>
    document.querySelector('#toptitle').innerHTML=`Shipping`
    </script>
{% endblock content %}