{% extends "base.html" %}
{%load static%}
{% block content %}
<div class="container">

    {% include "partial/_leftbar.html" %}
    <div class="col-lg-8">
        <div class="row mb-3">
          <h3>處理中</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">訂單編號
                </th>
                <th scope="col">交易狀態
                </th>
                <th scope="col">購買日期及時間</th>
                <th scope="col">付款總額</th>
              </tr>
            </thead>
            <tbody>
              {% for item in proces_orders %}
              
             
              <tr>
                <th scope="row">{{item.id}}</th>
                <td>{{item.get_status_display}}</td>
                <td>{{item.created}}</td>
                <td>$ {{item.total}}</td>
              </tr> {% endfor %}
              {% if not proces_orders %}
              <tr><th><p>沒有紀錄 ！</p></th></tr>
              {% endif %}
            </tbody>
          </table>
        </div>
        <div class="row mb-3">
          <h3>歷史紀錄</h3>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">訂單編號
                </th>
                <th scope="col">交易狀態
                </th>
                <th scope="col">購買日期及時間</th>
                <th scope="col">付款總額</th>
              </tr>
            </thead>
            {% for obj in old_orders %}
            
            
            <tbody>
              <tr>
                <th scope="row"><a href={%url 'order' obj.id %}>{{obj.id}}</a></th>
                <td>{{obj.get_status_display}}</td>
                <td>{{obj.created}}</td>
                <td>${{obj.total}}</td>
              </tr>
            </tbody>
          {% endfor %}
          {% if not old_orders %}
          <tr><th><p>沒有紀錄 ！</p></th></tr>
          {% endif %}
        </table>
        </div>

      </div>
  </div>

    
</div>
{% endblock content %}
